@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply text-center;
  }
  h2 {
    @apply text-3xl;
  }
  p {
    @apply text-2xl;
  }
}

p {
  white-space: pre-wrap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
